
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import 'SUIT.css';

:root {
  /*primary*/
  --color-primary: #001B30;

  /*secondary*/
  --color-secondary-blue: #2B77A9;
  --color-secondary-yellow: #F8E56C;
  --color-secondary-green: #3EA832;

  /*border*/
  --color-border-blue: #246DA2;
  --color-border-gray: #C5C5C5;

  /*font*/
  --color-font-primary: #002745;
  --color-font-gray: #3E3E3E;

  --main-font: 'SUIT', sans-serif;
}

html {
  font-size: 10px;
}
body, * {
  font-family: var(--main-font);
}
body, div, h1, h2, h3, h4, h5, h6, form, fieldset, p, button, iframe, tr, tbody, thead, table, th, td, b, span, strong, label{margin:0;padding:0;box-sizing:border-box;}
dl, dt, dd, ul, ol, li {box-sizing:border-box;list-style:none;padding:0;margin:0;}
h1, h2, h3, h4, h5, h6, dt {font-weight:normal;}
img, fieldset, iframe, button {border:0 none;}

.a11y-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}
.base-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
.base-side {
  width:25rem;
  background-color: #001B30;
  display: flex;
  flex-direction: column;
  flex-shrink:0;
  overflow-y: auto;
}
.base-side[data-state="close"] {
  width: 5rem;
}

.base-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-secondary-blue);
  padding:1.8rem 0 1.8rem;
  gap:1.7rem;
}
.base-header--logo {
  width: 100%;
  height: 7.2rem;
  display: block;
  background: url(/images/common/lnb-logo-big.svg) no-repeat 50% 50% / contain;
}
.base-side[data-state="close"] .base-header--logo {
  height: 4.7rem;
  background: url(/images/common/login-logo.svg) no-repeat 50% 50% / contain;
}
.admin-area {
  display: flex;
  width: 100%;
  padding:0 2.5rem;
  gap:1rem;
  align-items: center;
  font-size: 1.2rem;
  color:#FFFFFF;
}
.admin-area button {
  background-color: var(--color-primary);
  border-radius: .9rem;
  height: 1.8rem;
  line-height: 1;
  color:#65BBF3;
  font-size:1rem;
  max-width: 7.6rem;
  width: 100%;
}
.admin-area--avata {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #1E5379;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-area--avata img {
  width:3rem;
  height:3rem;
}
.admin-area--info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;
}

.base-main {
  width: 100%;
  flex: 1;
}

.base-content {
  display: flex;
  width: 100%;
  flex: 1;
  flex-direction: column;
}
.base-content--header {
  display: flex;
  justify-content: space-between;
  padding:0 5rem 0 1rem;
  background-color: #000;
  min-height: 4.5rem;
}
.base-content--header-title {
  font-size: 1.4rem;
  font-weight: 700;
  color:var(--color-secondary-yellow);
  display: flex;
  align-items: center;
}
.base-content--body{
  width: 100%;
  flex: 1;
  overflow-y: auto;
  padding: 1.5rem;
}
.my-checkbox.form-check {
  display:inline-flex;
  gap:.5rem;
  align-items:center;
  margin:0;
}
.my-checkbox .form-check-input {
  width:2rem;
  height:2rem;
  margin:0;
  cursor:pointer;
}
.my-checkbox .form-check-input:checked {
  background-color:var(--color-primary);
  border-color:var(--color-primary);
}
.my-checkbox .form-check-label {
  font-size:1.4rem;
  color:#000;
  line-height:2rem;
  cursor:pointer;
}
