
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
@import 'SUIT.css';

:root {
  /*primary*/
  --color-primary: #001B30;

  /*secondary*/
  --color-secondary-blue: #2B77A9;
  --color-secondary-yellow: #F8E56C;
  --color-secondary-green: #3EA832;

  /*border*/
  --color-border-blue: #246DA2;
  --color-border-gray: #C5C5C5;

  /*font*/
  --color-font-primary: #002745;
  --color-font-gray: #3E3E3E;

  --main-font: 'SUIT', sans-serif;
}

html {
  font-size: 10px;
}
body, * {
  font-family: var(--main-font);
}

li {
  list-style: none;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}
