
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

:root {
  /*primary*/
  --color-primary: #001B30;

  /*secondary*/
  --color-secondary-blue: #2B77A9;
  --color-secondary-yellow: #F8E56C;
  --color-secondary-green: #3EA832;

  /*border*/
  --color-border-blue: #246DA2;
  --color-border-gray: #C5C5C5;

  /*font*/
  --color-font-primary: #002745;
  --color-font-gray: #3E3E3E;

  --main-font: 'Noto Sans KR', sans-serif;
}

html {
  font-size: 10px;
}
body {
  font-family: var(--main-font);
}

li {
  list-style: none;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
}

.base-wrapper {
  display: flex;
  width: 100%;
  overflow: hidden;
  height: 100vh;
}
.base-side {
  width:25rem;
  background-color: #001B30;
  display: flex;
  flex-direction: column;
}
.base-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--color-secondary-blue);
  padding:1.8rem 0 1.8rem;
  gap:1.7rem;
}
.base-header .logo {
  height: 7.2rem;
  width: auto;
  display: block;
}
.admin-area {
  display: flex;
  width: 100%;
  padding:0 2.5rem;
  gap:1rem;
  align-items: center;
  font-size: 1.2rem;
  color:#FFFFFF;
}
.admin-area:deep(button) {
  background-color: var(--color-primary);
  border-radius: .9rem;
  height: 1.8rem;
  line-height: 1;
  color:#65BBF3;
  font-size:1rem;
  max-width: 7.6rem;
}
.admin-area--avata {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  overflow: hidden;
  background-color: #1E5379;
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-area--avata img {
  width:3rem;
  height:3rem;
}

.base-nav {
  display: flex;
  padding: 1.5rem;
  color: #fff;
}
.list-group {
  padding-left:0;
  width:100%;
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.list-group li {
  width: 100%;
}
.list-group button svg {
  position: absolute;
  left: 2.4rem;
  top: 50%;
  transform: translateY(-50%);
}
.list-group button {
  position: relative;
  padding-left:6.4rem;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
  height: 3.4rem;
  background-color: transparent;
  border: 0;
}

.base-nav .active {
  color: var(--color-primary);
  background-color: var(--color-secondary-blue);
}
